<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> -->
	<head>
    	<meta charset="UTF-8"/>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>   
    
    	<!--  <link rel="icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
			<link rel="shortcut icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/> -->   
    
    	<title>SGRE - Consultar Riesgos</title>
    	<link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    	<link href="../../static/css/fa-svg-with-js.css" rel="stylesheet" th:href="@{/css/fa-svg-with-js.css}"/> 
    	<link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>	
  	</head>
  	<body>
    	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  			<a class="navbar-brand" href="#">SGRE</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" 
  				aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarColor01">
    			<ul class="navbar-nav mr-auto">
      				<li class="nav-item active"><a class="nav-link" href="listar-riesgos.html" th:href="@{/riesgos/listar}">Riesgos</a></li>
      				<li class="nav-item"><a class="nav-link" href="../eventos/listar-eventos.html">Eventos</a></li>
    			</ul>
    			<ul id="my-navbar-right" class="nav navbar-nav navbar-right">
          			<li><a class="not-active" href="#">Bienvenido Oscar Santamaria</a></li>
            		<li><a href="#">Logout</a></li>
          		</ul>
  			</div>
		</nav>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<form id="riesgo-form" th:object="${riesgo}">
  							<fieldset>
  								 <legend>Consultar Riesgo</legend>	
    							<div class="form-group">
      								<label for="titulo">Título</label>
      								<input type="text" class="form-control" id="titulo" th:value="${riesgo.titulo}" disabled="true" />
    							</div>
    							<div class="form-group">
      								<label for="descripcion">Descripción</label>
      								<input type="text" class="form-control" id="descripcion" th:value="${riesgo.descripcion}" disabled="true">
    							</div>
    							<div class="form-group">
      								<label for="categoriaEventoPerdida">Categoria de evento de pérdida</label>
      								<select class="form-control" id="categoriaEventoPerdida" disabled="disabled">
        								<option th:text="${riesgo.categoria_evento_perdida.descripcion}" 
        									th:value="${riesgo.categoria_evento_perdida.id}">
        								</option>
      								</select>
    							</div>
    							<div class="form-group">
      								<label for="lineaDeNegocio">Liínea de negocio</label>
      								<select class="form-control" id="lineaDeNegocio" disabled="disabled">
        								<option th:text="${riesgo.linea_de_negocio.descripcion}" 
        									th:value="${riesgo.linea_de_negocio.id}">
        								</option>
      								</select>
    							</div>
    							<div class="form-group">
      								<label for="caracterDelRiesgo">Caracter del riesgo</label>
      								<select class="form-control" id="caracterDelRiesgo" disabled="disabled">
        								<option th:text="${riesgo.caracter_del_riesgo.descripcion}" 
        									th:value="${riesgo.caracter_del_riesgo.id}">
        								</option>
      								</select>
    							</div>
    							<div class="form-group">
      								<label for="detalle">Detalle</label>
      								<input type="text" class="form-control" id="detalle" th:value="${riesgo.detalle}" disabled="true"/>
    							</div>
    							<div class="form-group">
      								<label for="area">Proceso o área a la que pertenece el riesgo</label>
      								<select class="form-control" id="area" disabled="disabled">
        								<option th:text="${riesgo.area.descripcion}" 
        									th:value="${riesgo.area.id}">
        								</option>
      								</select>
    							</div>
    							<div class="form-group">
      								<label for="frecuencia">Frecuencia</label>
      								<input type="text" class="form-control" id="frecuencia" 
      									th:value="${riesgo.frecuencia}" disabled="true"/>
    							</div>
    							<div class="form-group">
      								<label for="probabilidad">Probabilidad</label>
      								<input type="text" class="form-control" id="probabilidad" 
      									th:value="${riesgo.probabilidad}" disabled="true"/>
    							</div>
    							<div class="form-group">
      								<label for="controlesDeRiesgo">Controles de riesgo</label>
      								<input type="text" class="form-control" id="controlesDeRiesgo" 
      									th:value="${riesgo.controles_de_riesgo}" disabled="true"/>
    							</div>
    							<div class="form-group">
      								<label for="impactoDelRiesgoSelect">Impacto del riesgo</label>
      								<select class="form-control" id="impactoDelRiesgoSelect" disabled="disabled">
      									<option th:text="${riesgo.impacto_del_riesgo}" 
        									th:value="${riesgo.impacto_del_riesgo}">
        								</option>
      								</select>
    							</div>
    							<div class="form-group">
      								<label for="fechaInicio">Fecha de inicio</label>
      								<input type="date" class="form-control" id="fechaInicio" 
      									th:value="${riesgo.fecha_inicio}" disabled="true"/>
    							</div>
    							<div class="form-group">
      								<label for="fechaConclusion">Fecha de conclusión</label>
      								<input type="date" class="form-control" id="fechaConclusion"
      									th:value="${riesgo.fecha_conclusion}" disabled="true" />
    							</div>
    							<div class="form-group">
      								<label for="fechaDescubrimiento">Fecha de descubrimiento</label>
      								<input type="date" class="form-control" id="fechaDescubrimiento" 
      									th:value="${riesgo.fecha_descubrimiento}" disabled="true"/>
    							</div>
    							<div class="form-group">
      								<label for="fechaRegistroContable">Fecha de registro contable</label>
      								<input type="date" class="form-control" id="fechaRegistroContable" 
      									th:value="${riesgo.fecha_registro_contable}" disabled="true"/>
    							</div>
    							<div class="form-group">
      								<label for="montoBrutoPerdida">Monto bruto de la pérdida</label>
      								<input type="text" class="form-control" id="montoBrutoPerdida" 
      									th:value="${riesgo.monto_bruto_perdida}" disabled="true"/>
    							</div>
    							<div class="form-group">
      								<label for="monedaPerdidaBruta">Tipo de moneda de la pérdida bruta</label>
      								<select class="form-control" id="monedaPerdidaBruta" disabled="disabled">
        								<option th:text="${riesgo.tipo_moneda_perdida_bruta}" 
        									th:value="${riesgo.tipo_moneda_perdida_bruta}">
        								</option>
      								</select>
    							</div>
    							<div class="form-group">
      								<label for="tipoCambioPerdidaBruta">Tipo de cambio de la pérdida bruta</label>
      								<input type="text" class="form-control" id="tipoCambioPerdidaBruta" 
      									th:value="${riesgo.tipo_cambio_perdida_bruta}" disabled="true" />
    							</div>
    							<div class="form-group">
      								<label for="montoTotalRecuperado">Monto total recuperado</label>
      								<input type="text" class="form-control" id="montoTotalRecuperado"  
      									th:value="${riesgo.monto_total_recuperado}" disabled="true"/>
    							</div>
    							<div class="form-group">
      								<label for="montoNetoPerdida">Monto neto de la pérdida</label>
      								<input type="text" class="form-control" id="montoNetoPerdida" 
      									th:value="${riesgo.monto_neto_perdida}" disabled="true" />
    							</div>
    							<div class="form-group">
      								<label for="monedaPerdidaNeta">Tipo de moneda de la pérdida neta</label>
      								<select class="form-control" id="monedaPerdidaNeta" disabled="disabled">
        								<option th:text="${riesgo.tipo_moneda_perdida_neta}" 
        									th:value="${riesgo.tipo_moneda_perdida_neta}">
        								</option>
      								</select>
    							</div>
    							<div class="form-group">
      								<label for="tipoCambioPerdidaNeta">Tipo de cambio de la pérdida neta</label>
      								<input type="text" class="form-control" id="tipoCambioPerdidaNeta" 
      									th:value="${riesgo.tipo_cambio_perdida_neta}" disabled="true" />
    							</div>
    							<div class="form-group">
      								<label for="aplicaCuentaContable">Aplica cuenta contable</label>
      								<select class="form-control" id="aplicaCuentaContable" disabled="disabled">
        								<option th:text="${riesgo.aplica_cuenta_contable}" 
        									th:value="${riesgo.aplica_cuenta_contable}">
        								</option>
      								</select>
    							</div>
    							<div class="form-group">
      								<label for="notasCuentaContable">Notas de la cuenta contable</label>
      								<input type="text" class="form-control" id="notasCuentaContable"  
      									th:value="${riesgo.notas_cuenta_contable}" disabled="true" />
    							</div>
    							<div class="form-group">
      								<label for="accionCorrectiva">Acción Correctiva</label>
      								<select class="form-control" id="accionCorrectiva" disabled="disabled">
        								<option th:text="${riesgo.accion_correctiva.descripcion}" 
        									th:value="${riesgo.accion_correctiva.id}">
        								</option>
      								</select>
    							</div>
    							<div class="form-group">
      								<label for="riesgoVinculado">Riesgo vinculado</label>
      								<select class="form-control" id="riesgoVinculado" disabled="disabled">
        								<option th:text="${riesgo.riesgo_vinculado.descripcion}" 
        									th:value="${riesgo.riesgo_vinculado.id}">
        								</option>
      								</select>
    							</div>
								<div class="form-group">
      								<label for="plazoEjecucion">Plazo de ejecución</label>
      								<input type="text" class="form-control" id="plazoEjecucion"  
      									th:value="${riesgo.plazo_ejecucion}" disabled="true"/>
    							</div>    							
    							<div class="form-group">
      								<label for="responsable">Responsable</label>
      								<select class="form-control" id="responsable" disabled="disabled">
        								<option th:text="${riesgo.responsable.nombre} + ' ' + ${riesgo.responsable.apellido}" 
        									th:value="${riesgo.responsable.id}">
        								</option>
      								</select>
    							</div>
    							<div class="form-group">
      								<label for="observaciones">Observaciones</label>
      								<textarea class="form-control" id="observaciones" rows="3" 
      									th:value="${riesgo.observaciones_generales}" disabled="true">
      								</textarea>
    							</div>
  							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</section>
    	<div class="custom-footer">
      		<p>SUGEF &copy; 2018, Todos los derechos reservados</p>
    	</div>
    	<script src="../../static/js/fontawesome-all.js" th:src="@{/js/fontawesome-all.js}"></script>
    	<script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    	<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  	</body>
</html>