<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> -->
	<head>
    	<meta charset="UTF-8"/>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>   
    
    	<!--  <link rel="icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
			<link rel="shortcut icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/> -->   
    
    	<title>SGRE - Crear Riesgos</title>
    	<link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    	<link href="../../static/css/fa-svg-with-js.css" rel="stylesheet" th:href="@{/css/fa-svg-with-js.css}"/> 
    	<link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>	
  	</head>
  	<body>
    	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  			<a class="navbar-brand" href="#">SGRE</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" 
  				aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarColor01">
    			<ul class="navbar-nav mr-auto">
      				<li class="nav-item active"><a class="nav-link" href="listar-riesgos.html" th:href="@{/riesgos/listar}">Riesgos</a></li>
      				<li class="nav-item"><a class="nav-link" href="../eventos/listar-eventos.html" th:href="@{/eventos/listar}">Eventos</a></li>
    			</ul>
    			<ul id="my-navbar-right" class="nav navbar-nav navbar-right">
          			<li><a class="not-active" href="#">Bienvenido Oscar Santamaria</a></li>
            		<li><a href="#">Logout</a></li>
          		</ul>
  			</div>
		</nav>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<form id="riesgo-form" th:object="${riesgo}" th:action="@{/guardar/riesgo}" method="post">
  							<fieldset>
  								 <legend>Crear Riesgo</legend>	
    							<div class="form-group" th:class="${#fields.hasErrors('titulo')} ? 'form-group has-error' : 'form-group'">
      								<label for="titulo">Título</label>
      								<input type="text" th:field="*{titulo}" th:errorclass="has-error" class="form-control" id="titulo" 
      									aria-describedby="" placeholder="Título" />
      								<span class="help-block" th:if="${#fields.hasErrors('titulo')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('titulo')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('descripcion')} ? 'form-group has-error' : 'form-group'">
      								<label for="descripcion">Descripción</label>
      								<input type="text" th:field="*{descripcion}" th:errorclass="has-error" class="form-control" id="descripcion" 
      									placeholder="Descripción" />
      								<span class="help-block" th:if="${#fields.hasErrors('descripcion')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('descripcion')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('categoria_evento_perdida')} ? 'form-group has-error' : 'form-group'">
      								<label for="categoriaEventoPerdida">Categoria de evento de pérdida</label>
      								<select class="form-control" id="categoriaEventoPerdida" th:field="*{categoria_evento_perdida}" th:errorclass="has-error">
      									<option value=""></option>
      									<option th:each="c : ${categorias}" th:value="${c.id}" th:text="${c.descripcion}"></option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('categoria_evento_perdida')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('categoria_evento_perdida')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('linea_de_negocio')} ? 'form-group has-error' : 'form-group'">
      								<label for="lineaDeNegocio">Liínea de negocio</label>
      								<select class="form-control" id="lineaDeNegocio" th:field="*{linea_de_negocio}" th:errorclass="has-error">
        								<option value=""></option>
        								<option th:each="l : ${lineas}" th:value="${l.id}" th:text="${l.descripcion}"></option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('linea_de_negocio')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('linea_de_negocio')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('caracter_del_riesgo')} ? 'form-group has-error' : 'form-group'">
      								<label for="caracterDelRiesgo">Caracter del riesgo</label>
      								<select class="form-control" id="caracterDelRiesgo" th:field="*{caracter_del_riesgo}" th:errorclass="has-error">
        								<option value=""></option>
        								<option th:each="c : ${caracteres}" th:value="${c.id}" th:text="${c.descripcion}"></option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('caracter_del_riesgo')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('caracter_del_riesgo')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group">
      								<label for="detalle">Detalle</label>
      								<input type="text" class="form-control" id="detalle" placeholder="Detalle" th:field="*{detalle}"/>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('area')} ? 'form-group has-error' : 'form-group'">
      								<label for="area">Proceso o área a la que pertenece el riesgo</label>
      								<select class="form-control" id="area" th:field="*{area}" th:errorclass="has-error">
        								<option value=""></option>
        								<option th:each="a : ${areas}" th:value="${a.id}" th:text="${a.descripcion}"></option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('area')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('area')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('frecuencia')} ? 'form-group has-error' : 'form-group'">
      								<label for="frecuencia">Frecuencia</label>
      								<input type="text" th:field="*{frecuencia}" th:errorclass="has-error" class="form-control" 
      									id="frecuencia" placeholder="Frecuencia" />
      								<span class="help-block" th:if="${#fields.hasErrors('frecuencia')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('frecuencia')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group"  th:class="${#fields.hasErrors('probabilidad')} ? 'form-group has-error' : 'form-group'">
      								<label for="probabilidad">Probabilidad</label>
      								<input type="text" th:field="*{probabilidad}" th:errorclass="has-error" class="form-control" 
      									id="probabilidad" placeholder="Probabilidad"/>
      								<span class="help-block" th:if="${#fields.hasErrors('probabilidad')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('probabilidad')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group">
      								<label for="controlesDeRiesgo">Controles de riesgo</label>
      								<input type="text" class="form-control" id="controlesDeRiesgo" placeholder="Controles de riesgo" 
      									th:field="*{controles_de_riesgo}" />
    							</div>
    							
    							<div class="form-group" th:class="${#fields.hasErrors('impacto_del_riesgo')} ? 'form-group has-error' : 'form-group'">
      								<label for="impactoDelRiesgoSelect">Impacto del riesgo</label>
      								<select class="form-control" id="impactoDelRiesgoSelect" th:field="*{impacto_del_riesgo}" th:errorclass="has-error">
        								<option value=""></option>
        								<option value="BAJO">BAJO</option>
        								<option value="MEDIO">MEDIO</option>
        								<option value="ALTO">ALTO</option>
        								<option value="CRITICO">CRITICO</option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('impacto_del_riesgo')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('impacto_del_riesgo')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('fecha_inicio')} ? 'form-group has-error' : 'form-group'">
      								<label for="fechaInicio">Fecha de inicio</label>
      								<input type="date" class="form-control" id="fechaInicio" th:field="*{fecha_inicio}" th:errorclass="has-error"/>
      								<span class="help-block" th:if="${#fields.hasErrors('fecha_inicio')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('fecha_inicio')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group">
      								<label for="fechaConclusion">Fecha de conclusión</label>
      								<input type="date" class="form-control" id="fechaConclusion" th:field="*{fecha_conclusion}" />
    							</div>
    							<div class="form-group">
      								<label for="fechaDescubrimiento">Fecha de descubrimiento</label>
      								<input type="date" class="form-control" id="fechaDescubrimiento" th:field="*{fecha_descubrimiento}" />
    							</div>
    							<div class="form-group">
      								<label for="fechaRegistroContable">Fecha de registro contable</label>
      								<input type="date" class="form-control" id="fechaRegistroContable" th:field="*{fecha_registro_contable}" />
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('monto_bruto_perdida')} ? 'form-group has-error' : 'form-group'">
      								<label for="montoBrutoPerdida">Monto bruto de la pérdida</label>
      								<input type="text" class="form-control" id="montoBrutoPerdida" placeholder="Monto bruto de la pérdida" value="0.0"
      									th:field="*{monto_bruto_perdida}" th:errorclass="has-error" />
      								<span class="help-block" th:if="${#fields.hasErrors('monto_bruto_perdida')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('monto_bruto_perdida')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group">
      								<label for="monedaPerdidaBruta">Tipo de moneda de la pérdida bruta</label>
      								<select class="form-control" id="monedaPerdidaBruta" th:field="*{tipo_moneda_perdida_bruta}">
        								<option value=""></option>
        								<option value="₡ (colones)">₡ (colones)</option>
        								<option value="$ (dólares)">$ (dólares)</option>
      								</select>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('tipo_cambio_perdida_bruta')} ? 'form-group has-error' : 'form-group'">
      								<label for="tipoCambioPerdidaBruta">Tipo de cambio de la pérdida bruta</label>
      								<input type="text" class="form-control" id="tipoCambioPerdidaBruta" placeholder="Tipo de cambio de la pérdida bruta"
      									th:field="*{tipo_cambio_perdida_bruta}" th:errorclass="has-error" />
      								<span class="help-block" th:if="${#fields.hasErrors('tipo_cambio_perdida_bruta')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('tipo_cambio_perdida_bruta')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('monto_total_recuperado')} ? 'form-group has-error' : 'form-group'">
      								<label for="montoTotalRecuperado">Monto total recuperado</label>
      								<input type="text" class="form-control" id="montoTotalRecuperado" placeholder="Monto total recuperado"
      									th:field="*{monto_total_recuperado}" th:errorclass="has-error" />
      								<span class="help-block" th:if="${#fields.hasErrors('monto_total_recuperado')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('monto_total_recuperado')}" th:text="${err}" />
										</ul>
									</span>	
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('monto_neto_perdida')} ? 'form-group has-error' : 'form-group'">
      								<label for="montoNetoPerdida">Monto neto de la pérdida</label>
      								<input type="text" class="form-control" id="montoNetoPerdida" placeholder="Monto neto de la pérdida"
      									th:field="*{monto_neto_perdida}" th:errorclass="has-error" />
      								<span class="help-block" th:if="${#fields.hasErrors('monto_neto_perdida')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('monto_neto_perdida')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group">
      								<label for="monedaPerdidaNeta">Tipo de moneda de la pérdida neta</label>
      								<select class="form-control" id="monedaPerdidaNeta" th:field="*{tipo_moneda_perdida_neta}">
        								<option value=""></option>
        								<option value="₡ (colones)">₡ (colones)</option>
        								<option value="$ (dólares)">$ (dólares)</option>
      								</select>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('tipo_cambio_perdida_neta')} ? 'form-group has-error' : 'form-group'">
      								<label for="tipoCambioPerdidaNeta">Tipo de cambio de la pérdida neta</label>
      								<input type="text" class="form-control" id="tipoCambioPerdidaNeta" placeholder="Tipo de cambio de la pérdida neta"
      									th:field="*{tipo_cambio_perdida_neta}" th:errorclass="has-error" />
      								<span class="help-block" th:if="${#fields.hasErrors('tipo_cambio_perdida_neta')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('tipo_cambio_perdida_neta')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('aplica_cuenta_contable')} ? 'form-group has-error' : 'form-group'">
      								<label for="aplicaCuentaContable">Aplica cuenta contable</label>
      								<select class="form-control" id="aplicaCuentaContable" th:field="*{aplica_cuenta_contable}" th:errorclass="has-error">
        								<option value=""></option>
        								<option value="SI">SI</option>
        								<option value="NO">NO</option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('aplica_cuenta_contable')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('aplica_cuenta_contable')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group">
      								<label for="notasCuentaContable">Notas de la cuenta contable</label>
      								<input type="text" class="form-control" id="notasCuentaContable" placeholder="Notas de la cuenta contable"
      									th:field="*{notas_cuenta_contable}" th:value="${riesgo.notas_cuenta_contable}" />
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('accion_correctiva')} ? 'form-group has-error' : 'form-group'">
      								<label for="accionCorrectiva">Acción Correctiva</label>
      								<select class="form-control" id="accionCorrectiva" th:field="*{accion_correctiva}" th:errorclass="has-error">
        								<option value=""></option>
        								<option th:each="a : ${acciones}" th:value="${a.id}" th:text="${a.descripcion}"></option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('accion_correctiva')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('accion_correctiva')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('riesgo_vinculado')} ? 'form-group has-error' : 'form-group'">
      								<label for="riesgoVinculado">Riesgo vinculado</label>
      								<select class="form-control" id="riesgoVinculado" th:field="*{riesgo_vinculado}" th:errorclass="has-error">
        								<option value=""></option>
        								<option th:each="r : ${riesgosVinculados}" th:value="${r.id}" th:text="${r.descripcion}"></option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('riesgo_vinculado')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('riesgo_vinculado')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
								<div class="form-group" th:class="${#fields.hasErrors('plazo_ejecucion')} ? 'form-group has-error' : 'form-group'">
      								<label for="plazoEjecucion">Plazo de ejecución</label>
      								<input type="text" class="form-control" id="plazo_ejecucion" placeholder="Plazo de ejecución" 
      									th:field="*{plazo_ejecucion}" th:errorclass="has-error" />
      								<span class="help-block" th:if="${#fields.hasErrors('plazo_ejecucion')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('plazo_ejecucion')}" th:text="${err}" />
										</ul>
									</span>
    							</div>    							
    							<div class="form-group"  th:class="${#fields.hasErrors('responsable')} ? 'form-group has-error' : 'form-group'">
      								<label for="responsable">Responsable</label>
      								<select class="form-control" id="responsable" th:field="*{responsable}" th:errorclass="has-error">
        								<option value=""></option>
        								<option th:each="r : ${responsables}" th:value="${r.id}" 
        									th:text="${r.nombre} + ' ' + ${r.apellido}"></option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('responsable')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('responsable')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group">
      								<label for="observaciones">Observaciones</label>
      								<textarea class="form-control" id="observaciones" rows="3" th:field="*{observaciones_generales}"></textarea>
    							</div>
    							<button type="submit" class="btn btn-primary">Guardar</button>
  							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</section>
    	<div class="custom-footer">
      		<p>SUGEF &copy; 2018, Todos los derechos reservados</p>
    	</div>
    	<script src="../../static/js/fontawesome-all.js" th:src="@{/js/fontawesome-all.js}"></script>
    	<script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    	<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  	</body>
</html>