<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
    	<meta charset="UTF-8"/>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>   
    
    	<!--  <link rel="icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
			<link rel="shortcut icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/> -->   
    
    	<title>SGRE - Modificar Evento</title>
    	<link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    	<link href="../../static/css/fa-svg-with-js.css" rel="stylesheet" th:href="@{/css/fa-svg-with-js.css}"/> 
    	<link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>	
  	</head>
  	<body>
    	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  			<a class="navbar-brand" href="#">SGRE</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" 
  				aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarColor01">
    			<ul class="navbar-nav mr-auto">
      				<!--  <li class="nav-item active"><a class="nav-link" href="listar-riesgos.html" th:href="@{/riesgos/listar}">Incidencias</a></li> -->
      				<li class="nav-item dropdown">
    					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" 
    						aria-haspopup="true" aria-expanded="false">Incidencias
    					</a>
    					<div class="dropdown-menu">
    						<a class="dropdown-item" href="listar-riesgos.html" th:href="@{/riesgos/listar}">Listar incidencias</a>
      						<a class="dropdown-item" href="reporte-probabilidad.html" th:href="@{/riesgos/reporte-probabilidad}">Reporte de probabilidad</a>
    					</div>
  					</li>
      				<li class="nav-item active"><a class="nav-link" href="../eventos/listar-eventos.html" th:href="@{/eventos/listar}">Eventos</a></li>
    			</ul>
    			<ul id="my-navbar-right" class="nav navbar-nav navbar-right">
          			<li><a class="not-active" th:inline="text">Bienvenido [[${#httpServletRequest.remoteUser}]]!</a></li>
            		<li><a href="javascript: document.logoutForm.submit()">Logout</a></li>
            		<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            			<input hidden="true" type="submit" value="Sign Out"/>
            		</form>
          		</ul>
  			</div>
		</nav>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<form id="riesgo-form" th:object="${evento}" th:action="@{/modificar/evento}" method="post">
  							<fieldset>
  								<input type="hidden" th:value="${evento.id}" name="id"/>
  								<legend>Modificar Evento</legend>	
    							<div class="form-group" th:class="${#fields.hasErrors('titulo')} ? 'form-group has-error' : 'form-group'">
      								<label for="titulo">Título</label>
      								<input type="text" th:field="*{titulo}" th:errorclass="has-error" class="form-control" id="titulo" 
      									aria-describedby="" placeholder="Título" th:value="${evento.titulo}" />
      								<span class="help-block" th:if="${#fields.hasErrors('titulo')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('titulo')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('descripcion')} ? 'form-group has-error' : 'form-group'">
      								<label for="descripcion">Descripción</label>
      								<input type="text" th:field="*{descripcion}" th:errorclass="has-error" class="form-control" id="descripcion" 
      									placeholder="Descripción" th:value="${evento.descripcion}" />
      								<span class="help-block" th:if="${#fields.hasErrors('descripcion')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('descripcion')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('categoria_evento_perdida')} ? 'form-group has-error' : 'form-group'">
      								<label for="categoriaEventoPerdida">Categoria de evento de pérdida</label>
      								<select class="form-control" id="categoriaEventoPerdida" th:field="*{categoria_evento_perdida}" th:errorclass="has-error">
        								<option th:if="${evento.categoria_evento_perdida_command != null}" 
        									th:text="${evento.categoria_evento_perdida_command.descripcion}" 
        									th:value="${evento.categoria_evento_perdida_command.id}">
        								</option>	
        								<option value=""></option>
        								<option th:each="c : ${categorias}" th:value="${c.id}" th:text="${c.descripcion}"></option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('categoria_evento_perdida')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('categoria_evento_perdida')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('linea_de_negocio')} ? 'form-group has-error' : 'form-group'">
      								<label for="lineaDeNegocio">Liínea de negocio</label>
      								<select class="form-control" id="lineaDeNegocio" th:field="*{linea_de_negocio}" th:errorclass="has-error">
        								<option th:if="${evento.linea_de_negocio_command != null}" 
        									th:text="${evento.linea_de_negocio_command.descripcion}" 
        									th:value="${evento.linea_de_negocio_command.id}">
        								</option>
        								<option value=""></option>
        								<option th:each="l : ${lineas}" th:value="${l.id}" th:text="${l.descripcion}"></option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('linea_de_negocio')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('linea_de_negocio')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('caracter_del_evento')} ? 'form-group has-error' : 'form-group'">
      								<label for="caracterDelEvento">Caracter del evento</label>
      								<select class="form-control" id="caracterDelEvento" th:field="*{caracter_del_evento}" th:errorclass="has-error">
        								<option th:if="${evento.caracter_del_evento_command != null}" 
        									th:text="${evento.caracter_del_evento_command.descripcion}" 
        									th:value="${evento.caracter_del_evento_command.id}">
        								</option>
        								<option value=""></option>
        								<option th:each="c : ${caracteres}" th:value="${c.id}" th:text="${c.descripcion}"></option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('caracter_del_evento')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('caracter_del_evento')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group">
      								<label for="detalle">Detalle</label>
      								<input type="text" class="form-control" id="detalle" placeholder="Detalle" th:field="*{detalle}" 
      									th:value="${evento.detalle}" />
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('area')} ? 'form-group has-error' : 'form-group'">
      								<label for="area">Proceso o área a la que pertenece el riesgo</label>
      								<select class="form-control" id="area" th:field="*{area}" th:errorclass="has-error">
        								<option th:if="${evento.area_command != null}" 
        									th:text="${evento.area_command.descripcion}" 
        									th:value="${evento.area_command.id}">
        								</option>
        								<option value=""></option>
        								<option th:each="a : ${areas}" th:value="${a.id}" th:text="${a.descripcion}"></option>
      								</select>
      								<span class="help-block" th:if="${#fields.hasErrors('area')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('area')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('monto_estimado_perdida')} ? 'form-group has-error' : 'form-group'">
      								<label for="montoEstimadoPerdida">Monto estimado de la pérdida</label>
      								<input type="text" th:field="*{monto_estimado_perdida}" th:errorclass="has-error" class="form-control" 
      									id="montoEstimadoPerdida" placeholder="Monto estimado de la pérdida" th:value="${evento.monto_estimado_perdida}" />
      								<span class="help-block" th:if="${#fields.hasErrors('monto_estimado_perdida')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('monto_estimado_perdida')}" th:text="${err}" />
										</ul>
									</span>
    							</div>
    							<div class="form-group" >
      								<label for="monedaDeLaPerdida">Tipo de moneda de la pérdida</label>
      								<select class="form-control" id="monedaDeLaPerdida" th:field="*{tipo_moneda_perdida}">
      									<option th:text="${evento.tipo_moneda_perdida}" 
											th:value="${evento.tipo_moneda_perdida}">
        								</option>
        								<option value=""></option>
        								<option value="₡ (colones)">₡ (colones)</option>
        								<option value="$ (dólares)">$ (dólares)</option>
      								</select>
    							</div>
    							<div class="form-group" th:class="${#fields.hasErrors('tipo_cambio_perdida')} ? 'form-group has-error' : 'form-group'">
      								<label for="tipoCambioPerdida">Tipo de cambio de la pérdida</label>
      								<input type="text" th:field="*{tipo_cambio_perdida}" th:errorclass="has-error" 
      									class="form-control" id="tipoCambioPerdida" placeholder="Tipo de cambio de la pérdida" 
      										th:value="${evento.tipo_cambio_perdida}" />
      								<span class="help-block" th:if="${#fields.hasErrors('tipo_cambio_perdida')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('tipo_cambio_perdida')}" th:text="${err}" />
										</ul>
									</span>
    							</div>    					
    							<div class="form-group" th:class="${#fields.hasErrors('responsable')} ? 'form-group has-error' : 'form-group'">
      								<label for="responsable">Responsable</label>
      								<input type="text" th:field="*{responsable}" th:errorclass="has-error" class="form-control" id="responsable" 
      									aria-describedby="" placeholder="Responsable" th:value="${evento.responsable}" />
      								<span class="help-block" th:if="${#fields.hasErrors('responsable')}">
              							<ul>
											<li class="alert" th:each="err : ${#fields.errors('responsable')}" th:text="${err}" />
										</ul>
									</span>
    							</div>		
    							<div class="form-group">
      								<label for="observaciones">Observaciones</label>
      								<textarea class="form-control" id="observaciones" rows="3" th:field="*{observaciones_generales}" 
      									th:value="${evento.observaciones_generales}"></textarea>
    							</div>
    							<button type="submit" class="btn btn-primary">Guardar</button>
  							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</section>
    	<div class="custom-footer">
      		<p>SUGEF &copy; 2018, Todos los derechos reservados</p>
    	</div>
    	<script src="../../static/js/fontawesome-all.js" th:src="@{/js/fontawesome-all.js}"></script>
    	<script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    	<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  	</body>
</html>