html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 60px;
}

body#login {
	padding-top: 40px;
	padding-bottom: 40px;
	/*background-color: #375a7f;*/
	background-color: #000000; 
	color: #fff;
}

body#login h2 {
	color: #fff;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin .fa-user {
	color: #000000;
	position: absolute;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.custom-footer {
  position: absolute;
  float:none;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  text-align: center;
  background-color: #375a7f;
  color: #fff; 
  margin-top: 30px;
  padding-top: 20px;
}

#my-navbar-right a {
	color: #fff;
}

#my-navbar-right li {
	padding-right: 10px
}

.not-active {
	pointer-events: none;
	cursor: default;
	font-style: italic;
}

#btn-crear-riesgo {
	margin-top: 40px;	
}

.form-inline {
	padding-top: 40px;
	float: right;	
}

.table-div {
	padding-top: 25px;
}

.pagination {
	padding-top: 25px;
}
